<html>
<head>
  <link rel="stylesheet" href="store_controller.scss">
</head>
<body>
<div class="mainContent" id="main">
  <h2>Invalid Login Credentials</h2>
  <%= link_to 'Back', new_user_path %>
</div>
</body>
</html>